	<p id="attachment_<%= attachment.id %>" style="width:430px;background-color:#<%= attachment.post.category.color%>;margin:10px; padding:10px; margin-top:5px;border-radius:11px;float:left;">
		<%= attachment.description %> - 
		<%= File.basename(attachment.path.to_s) %>
		<br> <%= attachment.user.name %> - <%= I18n.localize(attachment.created_at, :format => :long)  %>
		<%= link_to t(:remove), attachment,
			:method => :delete,
			:remote => true,
			:id => "remove_attachment_#{attachment.id}" %>
	</p>
<%= content_for :js do%>
	$('#remove_attachment_<%=attachment.id%>').bind(
	'ajax:success',
	function(xhr, result){
		$('#attachment_<%=attachment.id%>').remove();
		}
	);
<%end%>
