    <h1><%= t(:posts) %></h1>

<% @posts.each do |post| %>
  <div style="background-color:#<%= post.category.color%>;color:#<%= post.category.font_color%>;width:100%;height:70px;margin-top:10px; padding-top:10px; padding-left:10px;padding-bottom:10px;border-radius:11px;">
    <div style="float:left;width:800px;">
        <%= post.public ? t(:public) : t(:private) %>
        <br>
        <%= post.category.description %>: <%= post.subject %>
        <br>
        Anexos:<%= post.attachments.size %>
        Links: <%= post.links.size %>
        Comentários: <%= post.comments.size %>
        Compartilhado: <%= post.users.size %>
        <br>

        <%= link_to t(:show), post %>    
        
        <% if post.user_id == current_user_id%>
            <%= link_to t(:edit), edit_post_path(post) %>        
            <%= link_to t(:destroy), post, confirm: 'Você tem certeza?', method: :delete %>
        <% end %>    


    </div>   
    <div style='text-align:center'>        
        <div>
            <img src='<%= post.user.image %>' style="border:1px solid white;">
        </div>
        <div>
            <%= post.user.name %>         
        </div>
    </div>   
  </div>
<% end %>
<div style="width:100%;margin-top:20px;text-align:right">
    <%= link_to t(:new) , new_post_path %>
</div>    
