<!DOCTYPE html>
<html>
<head>
  <title>Sharing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery", "rails" %>
  <%= javascript_include_tag "application", "jscolor/jscolor.js"%>  
  <%= csrf_meta_tags %>
</head>
<body>
<div id="principal" style="width:960px;height:100px;margin: 0 auto;">
		<div style="height:40px;">
			<div style="width:320px;height:49px;margin-top:10px;float:left;">
				<div style="width:193px;height:49px;margin-top:10px;background: url(/images/logo.jpg);">
	   			</div>
	   		</div>	
			<div style="float:left;width:460px;height:60px;padding-top:0px">
				<h1><%= t(:welcome) %>, <%= current_user.name %>!</h1>
			</div>
			<div style="float:left;height:60px;padding-top:45px">
					<%= link_to t(:posts), posts_path %> |
					<%= link_to t(:categories), categories_path %> |
					<%= link_to t(:sig_out), signout_path%>
			</div>			
		</div>
		<div style="clear:both;padding-top:0px">	
			<%= yield %>		   		
		</div>	
   	</div>	
   	<div style="height:20px">	
   	</div>
<script type="text/javascript">
	<%=yield :js%>
</script>

</body>
</html>
